@namespace ToSic.Cre8magic.Theme.Basic
@using static ToSic.Cre8magic.Theme.Basic.Constants
@inherits ThemeBase
@inject MySettings MySettings

@code {
    public override string Name => "Default";

    public override string Panes => PaneNames.Default + ",Header";

    [Parameter]
    public string Variant { get; set; } = "default";

    private SettingsReader _settings = new();

    protected override void OnParametersSet()
    {
        try
        {
            _settings = MySettings.GetPage(PageState);
        }
        catch
        {
            // error loading theme settings
        }
    }
}

@if (_settings.TryGet(KeyThemeCss, out var themeCss)) {
    <style>
        @((MarkupString)themeCss)
    </style>
}

<div data-bs-theme ="default-theme" data-theme-variant="@Variant">
    @* FYI: data-bs-theme is for colors/fonts; data-theme-variant is for sizing etc. *@
    <nav id="theme-page-navigation" class="navbar navbar-dark bg-primary sticky-top">
        <Logo /><Menu Orientation="Horizontal" />
        <div class="controls ms-auto">
            <div class="controls-group">
                <UserProfile ShowRegister="@_settings.Bool(KeyRegister, true)" />
                <Login ShowLogin="@_settings.Bool(KeyLogin, true))"  />
                <ControlPanel ButtonClass="btn-outline-light" />
            </div>
        </div>
    </nav>

    <div id="theme-page-header-pane" class="container-xxl px-0">
        <Pane Name="Header" />
    </div>

    <main role="main" id="theme-page-main">
        <Pane Name="@PaneNames.Default" />
    </main>

    <footer id="theme-page-footer" class="footer">
        @((MarkupString)_settings.Get(KeyFooterHtml, DefaultFooterHtml))
    </footer>

</div>
